<!-- list 3.8.-->
<!-- list 3.4. => list 3.8. -->
<!--
<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>DETAIL</title>
    </head>

    <body>
        <h1>products detail page</h1>
        <hr>
    </body>
</html>
-->

{% extends "base.html" %}

{% block title %} DETAIL {%endblock%}

{% block header %} <h1>product detail page</h1> {%endblock%}

{% block content %}
<table border="1">
    <tr>
        <td>product ID</td><td>2</td>
        <td>product name</td><td>stake</td>
    </tr>
</table>
{%endblock%}

{% block footer %}
    <a href="/list">move to product list page</a>
{%endblock%}

