<!-- list 3.7.-->
<!-- list 3.3 => list 3.7.-->
<!--
<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>LIST</title>
    </head>

    <body>
        <h1>product list page</h1>
        <hr>
    </body>
</html>
-->

{% extends "base.html" %}
{% block title %} LIST {%endblock%}

{% block header%}<h1> goods list page</h1>{%endblock%}

{% block content%}
<table border="1">
    <thead>
        <tr>
            <th>product ID</th>
            <th>product name</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>product-1</td>
        </tr>
        <tr>
            <td><a href="detail">2</a></td>
            <td>product-2</td>
        </tr>
        <tr>
            <td>3</td>
            <td>product-3</td>
        </tr>
    </tbody>
</table>
{%endblock%}